
/* Timeline */

.timelines {
  list-style: none;
  padding: 30px 0 20px;
}
.profile-cover {
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);  	
}
.timelines > li {
  margin-bottom: 20px;
  position: relative;
}
.timelines > li > .timeline-panel {
  border: 1px solid #d4d4d4;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    padding:20px;
    margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-footer{
    padding:20px;
    background-color:#f4f4f4;
}
.timeline-footer > a{
    cursor: pointer;
    text-decoration: none;
}
.timeline-header{
    padding:10px;
    background-color:#f4f4f4;
}

/* facebook share box */
.facebook-share-box {
    width: 100%;
}

.facebook-share-box .share-form{
	padding: 2%;
}
.facebook-share-box .share {
    -webkit-transition: 0.1s ease-out height;
    -moz-transition: 0.1s ease-out height;
    -ms-transition: 0.1s ease-out height;
    -o-transition: 0.1s ease-out height;
    transition: 0.1s ease-out height;
    clear: both;
    background: white;
    border: 2px solid #dddddd;
    margin-bottom: 10px;
    position: relative;
}

.facebook-share-box .share .arrow {
    background: url(../img/arrow.png) no-repeat #dddddd;
    position: absolute;
    width: 14px;
    height: 10px;
    left: 4px;
    display: inline;
    top: -10px;
    -webkit-transition: 0.3s ease-out all;
    -moz-transition: 0.3s ease-out all;
    -ms-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
}

.facebook-share-box .post-types li a {
    color: #085083;
    text-decoration: none;
}

.facebook-share-box .post-types li a.active {
    color: #404040;
}

.facebook-share-box .post-types {
    padding-left: 5px;
}

.facebook-share-box ul {
    list-style: none;
    margin-bottom: 9px;
}

.facebook-share-box .post-types li {
    display: inline;
    margin-right: 10px;
}

.facebook-share-box input[type="text"] {
  border: none;
}

.facebook-share-box .message{
  border: none;
}

/*Custom*/
.mg-top{
  margin-top: 10%;
}
.map_canvas{
  height: 150px;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.timeline.affix {
  width: 33%;
}
@media (max-width: 767px) {
  .timeline.affix {
    position: static;
    width: auto;
    top: 0;
  }
}